@charset "UTF-8";
div.top{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
div.topImgContainer{
	width: 200px;
	height: 200px;
	overflow: hidden;
	position: relative;
}
div.topImgContainer img{
	position: absolute;
	top: 0;
	transition: 0.5s;
}
img.gosum{
	left:-200px;
}
img.koala{
	left:0px;
}
img.neoguri{
	left:200px;
}
img.owl{
	left:400px;
}
img.quaka{
	left:600px;
}
img.samak{
	left:800px;
}
img.wonsung{
	left:1000px;
}
button{
	font-size: 50px;
	font-weight: bold;
}
div.bottom{
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}
div.left{
	display: flex;
	flex-direction: column;
	height: 300px;
	justify-content: space-around;
}